@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background: radial-gradient(
    92.19% 89.74% at 32.27% 91.27%,
    rgba(31, 169, 17, 0.81) 17.21%,
    #2f15d0 64.58%,
    rgba(0, 0, 0, 0) 100%
  );
  background-color: #000;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.text-shadow {
  color: #f2f2f2 !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box-gradient {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 27.5%,
      rgba(22, 93, 255, 0.16) 157.71%
    ),
    #fff;
  box-shadow: 0px 0.7px 0.7px 0px rgba(0, 0, 0, 0.04),
    0px 2.8px 7px 0px rgba(0, 0, 0, 0.04);
}

.swiper-gradient {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.92) 27.6%,
    #fff 53.13%,
    rgba(255, 255, 255, 0.67) 81.77%,
    rgba(255, 255, 255, 0) 100%
  );
}

.radial-gradient {
  background: radial-gradient(
    92.19% 89.74% at 32.27% 91.27%,
    rgba(31, 169, 17, 0.81) 17.21%,
    #2f15d0 64.58%,
    rgba(0, 0, 0, 0) 100%
  );
}

@media screen and (max-width: 1281px) {
  .mobile-screen {
    background: radial-gradient(
      92.19% 89.74% at 32.27% 91.27%,
      rgba(31, 169, 17, 0.81) 17.21%,
      #2f15d0 64.58%,
      rgba(0, 0, 0, 0) 100%
    );
    background-repeat: no-repeat !important;
  }
}
